# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/app/.cxx




# Other files
.lock
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugins.cmake
macos/Flutter/GeneratedPluginRegistrant.swift
pubspec.lock
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake
/linux
/windows
/macos
.qodo
/ios/build/ios/XCBuildData
/ios/build/ios/XCBuildData
/ios/build/ios/XCBuildData
/ios/build/ios/XCBuildData/PIFCache
ios/build/ios/XCBuildData/PIFCache/project/PROJECT@v11_mod=1745496766.1721072_hash=bfdfe7dc352907fc980b868725387e98plugins=1OJSG6M1FOV3XYQCBH7Z29RZ0FPR9XDE1-json
/ios/build/ios/XCBuildData
/ios/build/ios/XCBuildData
android/app/build.gradle
.env
